*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.main{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    float: left;
    padding-top: 10px;
    text-align: left;
    background-color: #8a4a16;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    background-color: #ff7200;
    width: 1000px;
}
ul{
    float: left;
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: rgb(224, 209, 238);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color: #fff;
}
.row:after{
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 33.3%;
    padding: 15px;
    border: 5px solid #fff;
}